<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/toggle_switch.css">
</head>
<body>
    <div class="content">
        <div class="builder result">
            <h1>Results</h1>
            <br />
            <p>Here the 3 configurations that best suits you </p><br>
            <div class="config wanted">
                <ul>
                    <% for(i=0; i<queryResults.length; i++) { %>
                        <h4>What you want</h4>
                        <img class="wantedimage"src="/<%= queryResults[i].character_name %>.png" alt="">
                        <li><h4><%= queryResults[i].character_name %></h4></li>
                        <li>Kart: <%= queryResults[i].kart_name %></li>
                        <li>Wheels: <%= queryResults[i].wheel_name %></li>
                        <li>Glider: <%= queryResults[i].glider_name %></li>
                        <br>
                        <li>speed: <%= queryResults[i].speed %></li>
                        <li>acceleration: <%= queryResults[i].acceleration %></li>
                        <li>weight: <%= queryResults[i].weight %></li>
                        <li>handling: <%= queryResults[i].handling %></li>
                        <li>grip: <%= queryResults[i].grip %></li>
                        <br>
                    <% } %>
                </ul>
            </div>
            <div class="config">

                    <% for(i=0; i<tableResults.length; i++) { %>
                        <ul class="configitem">
                        <h4>Configuration <%= i + 1 %></h4><br>
                        <li><h4><%= tableResults[i].character_name %></h4></li><br>
                        <div class="containerimage">
                        <img class="configimage"src="/<%= tableResults[i].character_name %>.png" alt="">
                        <img class="configimage"src="/<%= tableResults[i].kart_name %>.png" alt="">
                        <img class="configimage"src="/<%= tableResults[i].wheel_name %>.png" alt="">
                        <img class="configimage"src="/<%= tableResults[i].glider_name %>.png" alt="">
                        </div><br>
                        <li><%= tableResults[i].kart_name %></li>
                        <li><%= tableResults[i].wheel_name %></li>
                        <li><%= tableResults[i].glider_name %></li>
                        <br>
                        <div class="rangeconfigpossible">
                        <li>speed: <%= tableResults[i].speed %></li>
                        <input class="rcp" type="range" min="0" max="6" step="0.25"  value="<%= tableResults[i].speed %>" list="tickmarks">
                        <datalist id="tickmarks">
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                        <option value="5"></option>
                        </datalist><br>

                        <li>acceleration: <%= tableResults[i].acceleration %></li>
                        <input type="range" min="0" max="6" step="0.25" value="<%= tableResults[i].acceleration %>" list="tickmarks">
                        <datalist id="tickmarks">
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                        <option value="5"></option>
                        </datalist><br>

                        <li>weight: <%= tableResults[i].weight %></li>
                        <input type="range" min="0" max="6" step="0.25" value="<%= tableResults[i].weight %>" list="tickmarks">
                        <datalist id="tickmarks">
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                        <option value="5"></option>
                        </datalist><br>

                        <li>handling: <%= tableResults[i].handling %></li>
                        <input type="range" min="0" max="6" step="0.25" value="<%= tableResults[i].handling %>" list="tickmarks">
                        <datalist id="tickmarks">
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                        <option value="5"></option>
                        </datalist><br>

                        <li>grip: <%= tableResults[i].grip %></li>
                        <input type="range" min="0" max="6" step="0.25" value="<%= tableResults[i].grip %>" list="tickmarks">
                        <datalist id="tickmarks">
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                        <option value="5"></option>
                        </datalist><br>
                        <br>
                        </div>
                        </ul>

                    <% } %>

            </div>
        </div>
    </div>

</body>
</html>
